*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 740px;
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
.header a{
    text-decoration: none;
    margin-top: 2rem;
    
}

.first a{
    color: #d1ad33;
    text-decoration: none;
    float: left;
    width: 10%;
    margin-left: 5rem;
    
}
.second{
    margin-right: 3rem;
}
.second a{
    color: #fff;
    float: right;
    width: 7%;
}  
.type{
    text-align: center;
    padding:16em 0;
    color: #fff;
}
.type1{
    font-size: 36px;
    margin: 0 0 32px;
    margin-bottom: 2rem;
    line-height: 2.25rem;
}

.type2{
    font-size: 72px;
    margin: 0 0 64px;
    margin-bottom: 4rem;
    line-height: 4.5rem;
}

.type a{
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    background-color: #ffc800;
    border-color: #ffc800;
    border-radius: 0.25rem;
}

.services{
    background-color: #fff;
    color: #212529;
    text-align: center;
    padding: 9rem 0;
}
.services .box1{
    width: 30%;
    float: left;
    margin: 20px 1.6%;
}
.services .top{
    width: 50%;
    padding: 0 25%;
}

.text-center h2{
    font-size: 40px;
    margin: 0 0 16px;
}
.text-center h3{
    font-size: 16px;
    margin: 0 0 64px;
    color: #6C757D;
}


.e-commerce{
    width: 30%;
}
.responsive-design{
    width: 30%;
    
}
.web-security{
    width: 30%;
}
.portfolio{
    padding: 3rem 6rem;
    background-color: #c7c8c99d;
    overflow: auto;
}
.portfolio-text{
    text-align: center;
}
.portfolio-text h4{
    font-size: 40px;
}
.portfolio-text p{
    font-size: 16px;
    font-style: italic;
}

.box{
    width: 30%;
    float: left;
    margin: 20px 1.6%;
    transition: 1s;
}
img{
    width: 100%;
    vertical-align: bottom;
}
.box .bottom{
    text-align: center;
    background-color: #fff;
}   
.box:hover{
    transform: translateY(-10px);
}
.team{
    background-color: #f8f9fa;
    text-align: center;
}
.team .our-team{
    padding-top: 2rem;
    font-size: 20px;
}
.team .box2{
    text-align: center;
    width: 30%;
    float: left;
    margin: 20px 1.6%;
}
.team .team-top{
    width: 40%;
    padding: 0 30%;
    border-radius: 50%;
}
.team .bottom{
    font-size: 20px;
    padding-bottom: 20px;
}
.icon a{
    text-decoration: none;
    background-color: #212529;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 30%;
}
.team .team-text{
    font-size: 20px;
    padding-bottom: 10rem;
}
.contact{
    background-color: #212529;
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
}
.contact .top1{
    text-align: center;
    padding:5rem 0;
    font-size: 20px;
    color: #fff;
}
.contact .body{
    text-align: center;
    padding-bottom: 3rem;
    outline: none;
}
.contact .input1{
    width: 3rem;
    float: left;
    padding-left: 35%;
}
.contact .input2{
    padding-right: 20% ;
    font-size: 2rem;
}
.i1{
    height: 30px;
    width: 15rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.i2{
    height: 30px;
    width: 15rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.i3{
    height: 30px;
    width: 15rem;
    margin-bottom: 1rem;    
    border-radius: 5px;
}
.i4{
    height: 10rem;
    width: 15rem;
    margin-bottom: 1rem;    
    margin-left: 2rem;
    border-radius: 5px;
}
.contact .btn{
    color: #fff;
    background-color: #ffc800;
    border-color: #ffc800;
    cursor: pointer;    
    pointer-events: none;
    opacity: 0.85;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1.25rem 2.5rem;
}
.footer{
    padding: 2rem 0;
    text-align: center;
}
